.btn {

    @mixin atLarge {
    width: 191.14px;
    height: 50px;
    background: #FFD400;
    border-radius: 3px;
    display: grid;
    }

    &__text {

        @mixin atLarge {
        margin: auto;
        font-family: HelveticaNeue;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #181840;
        }
    }

    &__text2 {

        @mixin atLarge {
        margin: auto;
        color: #FFD400;
        }
    }

    &__service {

        @mixin atLarge {
        display: grid;
        width: 323px;
        height: 58px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        transition: .3s ease-out;
        }
    }
}

.btn__ticket {

    @mixin atLarge {
    cursor: pointer;
    display: grid;
    width: 191.14px;
    height: 50px;
    background: none;
    border: 1px solid #FFD400;
    box-sizing: border-box;
    border-radius: 3px;
    transition: .3s linear;
    }
}

.btn__ticket:hover {
    transition: 10s linear;
}

.btn__service:hover {
    background: #FFB800;
    cursor: pointer;
}

.btn:hover {
    background: #FFB800;
    cursor: pointer;
    transition: .3s linear;
}