.btn {
    opacity: 0;
    position: absolute;

    @mixin atSmall {
        opacity: 1;
        position: relative;
    width: 191.14px;
    height: 50px;
    background: #FFD400;
    border-radius: 3px;
    display: grid;
    }

    &-t {
        opacity: 0;
        position: absolute;

        @mixin atLarge {
            opacity: 1;
            position: relative;
        }
    }

    &__text {
        margin: auto;
        font-family: HelveticaNeue;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #181840;

        @mixin atMedium {        
        font-size: 20px;
        line-height: 24px;        
        }
    }

    &__text2 {

        @mixin atSmall {
        margin: auto;
        color: #FFD400;
        }
    }

    &__service {
        display: grid;
        height: 31px;
        width: 159px;
        background: #FFFFFF;
        border-radius: 1.68048px;

        @mixin atMedium {
        
        width: 323px;
        height: 58px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        transition: .3s ease-out;
        }
    }
}

.btn__ticket {

    @mixin atSmall {
    cursor: pointer;
    display: grid;
    width: 191.14px;
    height: 50px;
    background: none;
    border: 1px solid #FFD400;
    box-sizing: border-box;
    border-radius: 3px;
    transition: .3s linear;
    }
}

.btn__ticket:hover {
    transition: 10s linear;
}

.btn__service:hover {
    background: #FFB800;
    cursor: pointer;
}

.btn:hover {
    background: #FFB800;
    cursor: pointer;
    transition: .3s linear;
}