.footer {

    @mixin atLarge {
    display: flex;
    justify-content: space-between;
    }

    &__company {

        @mixin atLarge {
        max-width: 246px;
        }

        &-title {

            @mixin atLarge {
            padding-left: 10px;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;            
            color: #161344;
            }         
        }

        &-logo {
            @mixin atLarge {
            max-width: 90%;
            }
        }
    }

    &__products {

        @mixin atLarge {
        max-width: 260px;
        }

        &-title {

            @mixin atLarge {
            font-family: Mont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;            
            color: #161344;
            }
        }

        &-links {

            @mixin atLarge {
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: #313131;
            }
        }
    }

    &__marvelution {

        &-title {

            @mixin atLarge {
        font-family: Mont;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;            
        color: #161344;
            }
        }

        &-links {

            @mixin atLarge {
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: #313131;
            }
        }
    }

    &__contact {

        &-title {

            @mixin atLarge {
            font-family: Mont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;            
            color: #161344;
            }
        }

        &-address {

            @mixin atLarge {
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: #313131;
            }
        }
    }
}

.footer__links {

    @mixin atLarge {
    display: grid;
    }

    &-A {
        @mixin atLarge {
        margin: auto;
        }        
    }
}

.footer__links-A > a {

    @mixin atLarge {
        font-family: Mont;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #313131;
    }
}

.footer__links-A > a:nth-child(-n+3) {

    @mixin atLarge {
    border-right: 1px solid #C4C4C4;
    padding-right: 12px;
    }
}