.footer {

    @media (min-width: 300px) and (max-width: 768px) {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    }

    @mixin atMedium {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    }

    &__company {
        @media (min-width: 300px) and (max-width: 768px) {
            display: grid;
            margin-top: 50px;
        }

        @mixin atMedium {
        max-width: 246px;
        }

        &-title {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 24px;            
            color: #161344;

            @mixin atMedium {
            padding-left: 10px;            
            font-size: 20px;
            }         
        }

        &-logo {
            margin: auto;
            @mixin atMedium {
            max-width: 90%;
            }
        }
    }

    &__products {
        @media (min-width: 300px) and (max-width: 768px) {
            display: grid;
        }

        @mixin atLarge {
        max-width: 260px;
        }

        &-title {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: bold;
            font-size: 27px;
            line-height: 75px;
            text-transform: uppercase;            
            color: #161344;          
                
            @mixin atMedium {
            font-size: 20px;
            line-height: 24px;
            }
        }

        &-links {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 0px;
            color: #313131;

            @mixin atMedium {
            font-size: 16px;
            line-height: 21px;
            }
        }
    }

    &__marvelution {
        @media (min-width: 300px) and (max-width: 768px) {
            display: grid;
        }

        &-title {
        margin: auto;
        font-family: Mont;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 75px;
        text-transform: uppercase;            
        color: #161344;

        @mixin atMedium {
        font-size: 20px;
        line-height: 21px;
        }
        }

        &-links {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 0px;
            color: #313131;

            @mixin atMedium {
            font-size: 16px;
            line-height: 21px;           
            }
        }

        & > img {
            margin: auto;
        }
    }

    &__contact {
        @media (min-width: 300px) and (max-width: 768px) {
            display: grid;
        }
        &-title {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: bold;
            font-size: 27px;
            line-height: 75px;
            text-transform: uppercase;            
            color: #161344;

            @mixin atMedium {            
            font-size: 20px;
            line-height: 21px;         
            }
        }

        &-address {
            margin: auto;
            font-family: Mont;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #313131;

            @mixin atMedium {
            font-size: 16px;            
            }

            &-tel {
                margin: auto;
                font-family: Mont;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                color: #313131;
            }

            &-email {
                margin: auto;
                font-family: Mont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #313131;
            }
        }
    }
}

.footer__links {
    @media (min-width: 300px) and (max-width: 768px) {
        max-width: 324px;
        margin-left: auto;
        margin-right: auto;
        }

    @mixin atMedium {
    display: grid;
    }

    &-A {
        @mixin atMedium {
        margin: auto;
        }        
    }
}

.footer__links-A > a {
        font-family: Mont;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #313131;

    @mixin atMedium {
        font-size: 15px;
        line-height: 20px;        
    }
}

.footer__links-A > a:nth-child(-n+3) {

    @mixin atMedium {
    border-right: 1px solid #C4C4C4;
    padding-right: 12px;
    }
}