.header {
    @mixin atLarge {
        position: fixed;
        width: 100%;
        transition: .3s ease-out;
        scroll-behavior: smooth;
    }
    &__menu-icon {
        cursor: pointer;
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10;
        top: 10px;
        left: 10px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
        @mixin atLarge {
            display: none;
        }
    }
    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }
        .header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
    &--sticky {
        @mixin atLarge {
            background-color: #fff;
            box-shadow: 0 0 2px 2px rgb(0 0 0 / 4%);
            z-index: 2;
        }
    }
    &__container {
        @mixin atLarge {
            display: flex;
        }
    }
    &_logo {
        max-width: 9%;
        margin: 5px 5px;
        float: right;
        overflow: auto;
        animation: mymove 1.5s infinite;
        @keyframes mymove {
            0% {
                transform: scale(1);
                background: url('assets/images/icons/icon.svg')
            }
            14% {
                transform: scale(1.2);
                background: url('assets/images/icons/icon.svg')
            }
            28% {
                transform: scale(1);
                background: url('assets/images/icons/icon.svg')
            }
            42% {
                transform: scale(1.2);
                background: url('assets/images/icons/icon.svg')
            }
            70% {
                transform: scale(1);
                background: url('assets/images/icons/icon.svg')
            }
        }
        @mixin atLarge {
            animation: none;
            max-width: 12%;
            margin: 0;
            float: left;
        }
    }
    &__title-m {
        padding-top: 70px;
        margin: 0 auto;
        opacity: 1;
        position: relative;
        font-family: ChunkFive Ex;
        font-style: normal;
        font-weight: 900;
        font-size: 33px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        max-width: 252px;
        margin-left: auto;
        margin-right: auto;
        @mixin atLarge {
            opacity: 0;
            position: absolute;
            z-index: -10;
        }
    }
    &__title {
        opacity: 0;
        position: absolute;
        @mixin atLarge {
            opacity: 1;
            position: relative;
            z-index: 10;
            opacity: 1;
            padding-left: 25px;
            font-family: Mont;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 130%;
            color: #FFFFFF;
        }
        .header--sticky & {
            @mixin atLarge {
                color: black;
            }
        }
    }
    &__s-title-m {
        margin: 0 auto;
        opacity: 1;
        position: relative;
        font-family: ChunkFive Ex;
        font-style: normal;
        font-weight: 900;
        font-size: 33px;
        line-height: 130%;
        text-align: center;
        color: #FFD400;
        @mixin atLarge {
            opacity: 0;
            position: absolute;
        }
    }
    &__s-title {
        opacity: 0;
        position: absolute;
        @mixin atLarge {
            opacity: 1;
            position: relative;
            font-family: Mont;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 130%;
            color: #FFD400;
        }
    }
}


/*.header_logo::after {
  content: "";
  clear: both;
  display: table;
}*/