.home {    
    @mixin atLarge {
    background: linear-gradient(180deg, #161639 0%, #11112B 100%);
    height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    }

    &-hero {
    @mixin atLarge {
     grid-column: 1;
     grid-row: 1;
        }
    }

   &-hero__image {
    width: 80%;
    margin: auto;

    @mixin atLarge {
    width: 90%;
    }
   }

   &-hero__title {
    opacity: 0;
    position: absolute;

    @mixin atLarge {
    opacity: 1;
    position: relative;
    margin: 0;
    padding: 0;
    color: #FFD400;
    font-family: ChunkFive Ex;
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 150%;
    text-align: center;
    }
   }

   &-hero__description {
    opacity: 0;
    position: absolute;

    @mixin atLarge {
    opacity: 1;
    position: relative;
    margin: 0;
    padding-left: 196px;
    max-width: 960px;
    color: #FFFFFF;
    font-family: Mont;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 37px;
    }
   }
}

pre {
    @mixin atLarge {
    margin: 0;
    padding-left: 327px;
    max-width: 960px;
    color: #FFFFFF;
    font-family: Mont;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 37px;
    }
}