.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__narrow {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  &__head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
  }

  &__choose-service {
    max-width: 1250px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  &__ticket {
    margin: auto;
    display: grid;
  }
}